/*  your css code here. If applicable */
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background: pink;
}
